body {
    /* background: linear-gradient(117deg, rgba(70, 129, 137, 0.10) 9.51%, rgba(7, 87, 98, 0.10) 95.18%), #FFF; */
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
      
}

h1 {
    text-align: center;
}

#root {
    height: 100%;
    width: 100%; 
}


#swimLanes {
    width: 100%;
    display: inline-flex;
    height: 991px;
    padding-bottom: 180px;
    align-items: flex-start;
    gap: 25px;
    flex-shrink: 0;
}

#lane {
    /* border: 1px solid black; */
    border-radius: 10px;
    background: white;
    box-shadow: 1px 1px 3px 3px rgba(139, 152, 169, 0.1);
    display: flex;
    /* width: 258px; */
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 28px; */
    margin-bottom: 10px;
}

#lane h2 {
    font-size: 18px;
}

#lane p {
    font-size: 14px;
}

button {
    /* width: 100px; */
    background-color: #1c74ec;
    /* color: white; */
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

input {
    display: flex;
    padding: 2px;
    /* border: 1px solid black; */
}

#newGroupPage {
    display: flex;
    background-color: aliceblue;
    /* background: linear-gradient(117deg, rgba(70, 129, 137, 0.10) 9.51%, rgba(7, 87, 98, 0.10) 95.18%), #FFF; */
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-content: center;
    border: 2px solid black;

}

#groupCreationForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
    padding: 2em;
    background: #FFF;
    width: 80%;
    border-radius: 10px;
    height: fit-content;
    box-shadow: 2px 2px 4px rgb(244, 244, 244);
}

#groupCreationForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
}
#groupCreationForm label{
    width: 70%;
    margin: 10px auto;
}

#groupCreationForm input {
    height: 24px;
    text-indent: 10px;
    border: 0.5px solid rgb(184, 184, 184);
    border-radius: 2px;
    /* margin: 10px auto; */
    margin-top: 10px;
}

.create-group-button {
    width: 30%;
    height: 30px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    align-self: center;
    margin: 20px auto;
}

/* CHORE PAGE */
.createChore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 20%;
    height: 40%;

}

.createChore form {
    width: 95%;
    height: 80%;
}

.create-chore-input {
    height: 24px;
    width: 100%;
    border: 0.5px solid rgb(184, 184, 184);
    border-radius: 2px;
}

#create-chore-button {
    margin: 20px auto;
    align-self: center;
    height: 10%;
    width: 80%;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    border-radius: 10px;
    height: 62%;
    width: 22.5%;
    box-shadow: 2px 2px 4px rgb(244, 244, 244);
}


.progress-container h2 {
    color: rgb(50, 57, 102);
}

.chorecard-container {
    overflow: auto;
    width: 95%;
    border-radius: 10px;
}

#chore-progress-button {
    align-self: flex-end;
    justify-self: flex-end;
    height: 1.75rem;
    width: 30%;
    font-weight: bold;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 10px;

}


/* HOMEPAGE */

.homepage {
    height: 100%;
}

.homepage h1 {
    margin: 50px auto;
}

.homepage p {
    margin: auto 20%;
    text-indent: 40px;
}

/* GROUPS PAGE */
.groupspage {
    height: 100%;
}


/* CREATE GROUP PAGE */
#newGroupPage {
    border: none;
    background: none;
    background-color:aliceblue;

}

/* PROFILE PAGE */
.profile-page {
    width: 90%;
    margin: 0 50px;
}