*{
    font-family: 'Century Gothic'
}

#createChoreContainer {
    border: 1px solid black;
}

body {
    background-color: lightgray;
}

form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

button {
    width: fit-content;
}

input {
    display: flex;
}

#ChoreCard {

    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}