html {
  height: 100%;
  width: 100%;
}





.appContainer {
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}


.routesContainer {
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}