.newGroupContainer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, auto);
    border: 2px solid black;
    background-color: red;
}

.groupInfoCard {
    border: 2px solid black;
    background-color: blue;
    margin: 10px;
    width: fit-content;
}

.columnHolder {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 2px;
}

.box {
    margin: 1px;
    border: 2px solid black;
}