.navbar {
  /* border: black solid; */
  background-color: #ffffff;
  display: flex;
  align-items: center;
  min-height: 6rem;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.applicationAndLogo {
  display: flex;
  flex-direction: row;
  min-width: 6rem;
  min-height: 3rem;
  background-color: green;
}

.logoContainer {
  display: flex;
  max-width: 4rem;
  max-height: 8rem;
}
.logo {
  max-width: 150px;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.links {
  width: 5rem;
  display: flex;
}

.navbar li {
  list-style: none;
  margin-left: 1rem;
}
.pages {
  display: flex;
  font-size: 25px;
}
.loginModal {
  background-color: #ffffff;
  align-content: end;
}
