.navbar {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  border-bottom: 0.5px solid rgb(220, 220, 220);
  box-shadow: 2px 2px 4px rgb(237, 237, 237);
}

.applicationAndLogo {
  position: absolute;
  left: 2%;
  top: 1.25%;
  display: flex;
  flex-direction: row;
  min-width: 6rem;
  min-height: 3rem;
  background-color: transparent;
}

/* .logoContainer {
  display: flex;
  max-width: 4rem;
  max-height: 8rem;
} */
.logo {
  width: 200px;
  /* position: absolute;
  left: 2%; */
}

#nav-logo {
  width: 200px;
}

.links {
  width: 50%;
  display: flex;
  position: absolute;
  right: 6%;
  
}

.navbar li {
  
  list-style: none;
  margin: auto 1.5rem;
  font-size: 18px;

}

.navbar a, .navbar a:visited {
  color: rgb(45, 45, 45);
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(32, 154, 255);
  text-decoration: underline;
  font-size: 18px;
}


.pages {
  display: flex;
  font-size: 25px;
}
.loginModal {
  background-color: #ffffff;
  align-content: end;
}

.profileComponent {
}
