.profileModal {
  position: absolute;
  right: 1rem;
  top: 20px;
  display: flex;
  align-self: center;
  align-content: center;
  background-color: white;
  width: 4rem;
  height: 3rem;
  
}

.profilePictureDiv {
  top: 20px;
  max-height: 2rem;
  height: 120%;
}
.profilePic {
  top: 20px;
  max-height: 30px;
}
.nameAndSettings {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.name {
  font-style: Helvertica Neue, sans-serif;
  font-size: 14px;
  color: teal;
}

.settings {
  font-size: 12px;
}
